.nav-pad img{
    font-size: px;
}

.img-fluid{
    font-size: 50%;
}
.bag-card{
    border: 0;
}
.panda-card-footer{
    background-color: white;
    border: 0;
}
.categories img{
    width: 100px;
}
